<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.tpcreative.supersafe">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <application
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:name=".common.services.SuperSafeApplication"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLaunch">
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver android:name=".common.services.SuperSafeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- Upload Google Drive -->
        <service android:name=".common.services.SuperSafeService" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <!-- Enter pin code -->
        <activity
            android:name=".ui.lockscreen.EnterPinAct"
            android:label="@string/key_lock_screen"/>
        <activity android:name=".ui.main_tab.MainTabAct"/>
        <activity
            android:name=".ui.signin.SignInAct"
            android:label="@string/key_sign_in"/>
        <activity
            android:name=".ui.verify.VerifyAct"
            android:label="@string/verify"/>
        <activity
            android:name=".ui.askpermission.AskPermissionAct"/>
        <activity
            android:name=".ui.dashboard.DashBoardAct"/>
        <activity
            android:name=".ui.signup.SignUpAct"
            android:label="@string/key_sign_up"/>
        <activity android:name=".ui.camera.CameraAct"/>
        <activity
            android:name=".ui.fakepin.FakePinComponentAct"/>
        <activity
            android:name=".ui.multiselects.AlbumSelectActivity"
            android:label="@string/select_album">
            <intent-filter>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.multiselects.ImageSelectActivity"
            android:label="@string/album_view">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.albumdetail.AlbumDetailAct"
            android:label="" />
        <activity android:name=".ui.photosslideshow.PhotoSlideShowAct"/>
        <activity
            android:name=".ui.settings.SettingsAct"
            android:label="@string/settings" />
        <activity
            android:name=".ui.help.HelpAndSupportAct"
            android:label="@string/help" />
        <activity
            android:name=".ui.verifyaccount.VerifyAccountAct"
            android:label="@string/verify"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.accountmanager.AccountManagerAct"
            android:label="@string/account" />
        <activity
            android:name=".ui.enablecloud.EnableCloudAct"
            android:label="@string/enable_cloud_sync" />
        <activity
            android:name=".ui.cloudmanager.CloudManagerAct"
            android:label="@string/cloud_manager" />
        <activity android:name=".ui.checksystem.CheckSystemAct"/>
        <activity
            android:name=".ui.trash.TrashAct"
            android:label="@string/key_trash" />
        <activity android:name=".ui.settings.AlbumSettingsAct"/>
        <activity
            android:name=".ui.resetpin.ResetPinAct"
            android:label="@string/reset_pin" />
        <activity
            android:name=".ui.theme.ThemeSettingsAct"
            android:label="@string/key_update_theme" />
        <activity
            android:name=".ui.breakinalerts.BreakInAlertsAct"
            android:label="@string/key_break_in_alert" />
        <activity
            android:name=".ui.fakepin.FakePinAct"
            android:label="@string/key_fake_pin" />
        <activity android:name=".ui.secretdoor.SecretDoorAct"
            android:label="@string/key_secret_door"/>
        <activity android:name=".ui.aboutsupersafe.AboutSuperSafeActivity"/>
        <activity android:name=".ui.breakinalerts.BreakInAlertsDetailActivity"/>
        <activity android:name=".ui.secretdoor.SecretDoorSetUpAct"/>
        <activity android:name=".ui.facedown.FaceDownActivity"/>
        <activity
            android:name=".ui.unlockalbum.UnlockAllAlbumAct"
            android:label="@string/unlock_all_albums" />
        <activity android:name=".ui.help.HelpAndSupportContentAct"
            android:label="@string/help"/>
        <activity android:name=".ui.sharefiles.ShareFilesAct"
            android:theme="@style/AppTheme.Share">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.premium.PremiumAct"
            android:label="@string/premium" />
        <activity android:name=".ui.restore.RestoreAct"/>
        <activity android:name=".ui.albumcover.AlbumCoverAct"/>
        <activity android:name=".ui.switchbasic.SwitchBasicAct"/>
        <!--Portrait model for special mode-->
        <activity android:name=".ui.player.PlayerAct"/>
    </application>
</manifest>