<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.tpcreative.supersafe">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".common.services.SuperSafeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Slide">
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver android:name=".common.services.SuperSafeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- Upload Google Drive -->

        <service android:name=".common.services.SuperSafeService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".ui.main_tab.MainTabActivity" />
        <!-- Enter pin code -->
        <activity
            android:name=".ui.lockscreen.EnterPinActivity"
            android:label="@string/key_change"/>
        <activity
            android:name=".ui.signin.SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.verify.VerifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.askpermission.AskPermissionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.dashboard.DashBoardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.signup.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.camera.CameraActivity" />
        <activity
            android:name=".ui.multiselects.AlbumSelectActivity"
            android:label="@string/select_album">
            <intent-filter>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.multiselects.ImageSelectActivity"
            android:label="@string/album_view">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.albumdetail.AlbumDetailActivity"
            android:label="" />
        <activity android:name=".ui.photosslideshow.PhotoSlideShowActivity" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name=".ui.help.HelpAndSupportActivity"
            android:label="@string/help" />
        <activity
            android:name=".ui.verifyaccount.VerifyAccountActivity"
            android:label="@string/verify"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.accountmanager.AccountManagerActivity"
            android:label="@string/account" />
        <activity
            android:name=".ui.enablecloud.EnableCloudActivity"
            android:label="@string/enable_cloud_sync" />
        <activity
            android:name=".ui.cloudmanager.CloudManagerActivity"
            android:label="@string/cloud_manager" />
        <activity android:name=".ui.checksystem.CheckSystemActivity"/>
        <activity android:name=".ui.player.PlayerActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.trash.TrashActivity"
            android:label="@string/key_trash" />
        <activity android:name=".ui.settings.AlbumSettingsActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="15db64b7a0d9e4cba1e5852f23b0305152060773" />

        <activity
            android:name=".ui.resetpin.ResetPinActivity"
            android:label="@string/reset_pin" />
        <activity
            android:name=".ui.theme.ThemeSettingsActivity"
            android:label="@string/key_update_theme" />
        <activity
            android:name=".ui.breakinalerts.BreakInAlertsActivity"
            android:label="@string/key_break_in_alert" />
        <activity
            android:name=".ui.fakepin.FakePinActivity"
            android:label="@string/key_fake_pin" />
        <activity android:name=".ui.secretdoor.SecretDoorActivity" />
        <activity android:name=".ui.aboutsupersafe.AboutSuperSafeActivity" />
        <activity android:name=".ui.breakinalerts.BreakInAlertsDetailActivity" />
        <activity
            android:name=".ui.fakepin.FakePinComponentActivity"
            android:label="@string/app_name" />
        <activity android:name=".ui.secretdoor.SecretDoorSetUpActivity" />
        <activity android:name=".ui.facedown.FaceDownActivity" />
        <activity
            android:name=".ui.unlockalbum.UnlockAllAlbumActivity"
            android:label="@string/unlock_all_albums" />
        <activity android:name=".ui.help.HelpAndSupportContentActivity" />
        <activity android:name=".ui.sharefiles.ShareFilesActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.premium.PremiumActivity"
            android:label="@string/premium" />
        <activity android:name=".ui.restore.RestoreActivity" />
        <activity android:name=".ui.albumcover.AlbumCoverActivity" />
        <activity android:name=".ui.switchbasic.SwitchBasicActivity" />
    </application>

</manifest>